
#menu {  
  align-items: center;
  display: flex;
  height: 50vh;
  width: 100vw;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
  font-size:45px;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1; 
  font-size: 60px;
}


#menu-items {
  margin-left: clamp(0.5rem, 0.5vw, 48rem);
  position: relative;
  z-index: 2;
  
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 60px;
  padding: 30px;
  text-decoration: none;
  transition: opacity 400ms ease, font-size 400ms ease;
}